@font-face {
  font-family: 'DePixelHalbfett';
  src: url('fonts/DePixelHalbfett.ttf') format('truetype');
}

body {
  background-image: url('images/fundo.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'DePixelHalbfett';
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 88%;
  text-align: center;
}

footer img {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players {
  display: flex;
  justify-content: center;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100px;
  width: 500px;
  height: 500px;
  margin: 20px;
  position: relative; /* Adicione esta linha */
}

.player-gif {
  position: absolute;
  top: 30px;
  width: 480px;
  height: 360px;
  pointer-events: none;
  z-index: 2;
  background-size: cover;
  background-position: center;
  display: none;
}

.name {
  margin-top: 10px;
}

.health-bar {
  position: absolute;
  left: 110px;
  top: 45px;
  width: 300px; /* Ajuste a largura conforme necessário */
  height: 45px; /* Ajuste a altura conforme necessário */
  background-color: #ddd; /* Cor de fundo da barra de vida */
}

.health-bar-2 {
  position: absolute;
  left: 95px;
  top: 45px;
  width: 300px; /* Ajuste a largura conforme necessário */
  height: 45px; /* Ajuste a altura conforme necessário */
  background-color: #ddd; /* Cor de fundo da barra de vida */
  transform: scaleX(-1); /* Inverte a escala horizontalmente */
}

.health-bar-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.health-bar-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #617e61; /* Cor da barra de vida verde */
}

.health-bar-image {
  position: absolute;
  top: 0;
  left: 60;
  width: 400px;
  height: auto;
  z-index: 1;
}

.turn {
  font-size: 20px;
  margin-top: 0px;
}

.options {
  margin-top: 30px;
}

.options button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: 'DePixelHalbfett';
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.options button:hover {
  background-color: #555;
}

.close {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  display: none;
}

@keyframes defense-animation {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.defense {
  animation: defense-animation 0.5s ease-in-out;
}

@keyframes blink-animation {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.turn {
  animation: blink-animation 1s infinite;
  font-size: 24px;
  color: #ff0000;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse-animation 1s infinite;
}

.plus-icon {
  color: green;
  font-size: 24px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  width: 300px;
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
}

.player-machine {
  margin-bottom: 20px;
}

.player-machine label {
  display: block;
}

.player-machine select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  font-family: 'DePixelHalbfett';
  font-size: 10px;
}

.start-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: 'DePixelHalbfett';
  font-size: 14px;
  cursor: pointer;
}

